<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyBxevA7di7Avo5vGKAgPPSkJa8ud4gnI&callback=initMap&libraries=visualization"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script type="text/javascript" src="javascript/sidebar_button_functions.js"></script>
<script type="text/javascript" src="javascript/secondary_map_functions.js"></script>
<script type="text/javascript" src="javascript/content_loading_functions.js"></script>
<script type="text/javascript" src="javascript/additional_data_requests.js"></script>
<script type="text/javascript" src="javascript/map_functions.js"></script>
<script defer type="text/javascript" src="javascript/dashboard_chart_functions.js"></script>
<script defer type="text/javascript" src="javascript/url.js"></script>