<div class="w3-container w3-white ">
<div class="row">
  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/Commons.jpg"  alt="Commons" style="width:100%">
  	<button class="btn">Commons</font></button>
	</div>
	</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/Library.jpg" alt="Library" style="width:100%">
  	<button class="btn">Library</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/DHall.jpg" alt="DHall" style="width:100%">
  	<button class="btn">Dinning Hall</button>
	</div>
</div>


  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/UC.jpg" style="width:100%">
  	<button class="btn">University Center</button>
	
</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/EventCenter.jpg" alt="EventCenter" style="width:100%">
  	<button class="btn">Event Center</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/ITE.jpg" alt="Snow" style="width:100%">
  	<button class="btn">ITE</button>
	</div>
</div>
</div>

<div class="row">
  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/Commons.jpg"  alt="Commons" style="width:100%">
  	<button class="btn">Commons</button>
	</div>
	</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/Library.jpg" alt="Library" style="width:100%">
  	<button class="btn">Library</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/DHall.jpg" alt="DHall" style="width:100%">
  	<button class="btn">Dinning Hall</button>
	</div>
</div>


  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/UC.jpg" style="width:100%">
  	<button class="btn">University Center</button>
	
</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/EventCenter.jpg" alt="EventCenter" style="width:100%">
  	<button class="btn">Event Center</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="pictures/ITE.jpg" alt="Snow" style="width:100%">
  	<button class="btn">ITE</button>
	</div>
</div>
</div>


</div>