
<div class="w3-container w3-white ">
<h3><b>Academic and Support Buildings</b>    <i class="underline-on-hover" onclick="window.location.href='index.html'"  > (Return to HomePage) </i></h3>
<br>
<div class="row">
  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Commons.jpg"  alt="Commons" style="width:100%">
  	<button onclick="window.location.href='commons.html'" class="btn">Commons</font></button>
	</div>
	</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Library.jpg" alt="Library" style="width:100%">
  	<button  onclick="window.location.href='library.html'"  class="btn">Library</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/DHall.jpg" alt="DHall" style="width:100%">
  	<butto onclick="window.location.href='dining_hall.html'" class="btn">Dinning Hall</button>
	</div>
</div>


  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/UC.jpg" style="width:100%">
  	<button onclick="window.location.href='university_center.html'" class="btn">University Center</button>
	
</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/EventCenter.jpg" alt="EventCenter" style="width:100%">
  	<button onclick="window.location.href='event_center.html'" class="btn">Event Center</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/RAC.jpg" alt="RAC" style="width:100%">
  	<button onclick="window.location.href='rac.html'" class="btn">RAC</button>
	</div>
</div>
</div>

<div class="row">
  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Biology.jpg"  alt="Biology" style="width:100%">
  	<button onclick="window.location.href='biology.html'" class="btn">Biology Science</button>
	</div>
	</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Chemistry.jpg" alt="Chemistry" style="width:100%">
  	<button onclick="window.location.href='chemistry.html'" class="btn">Meyerhoff Chemistry</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Math&Psyc.jpg" alt="Math & Psyc" style="width:100%">
  	<button onclick="window.location.href='math_psyc.html'" class="btn">Math & Psyc</button>
	</div>
</div>


  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Sherman.jpg" alt = "Sherman" style="width:100%">
  	<button onclick="window.location.href='sherman.html'" class="btn">Sherman</button>
	
</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Sondheim.jpg" alt="Sondheim" style="width:100%">
  	<button onclick="window.location.href='sondheim.html'" class="btn">Sondheim</button>
	</div>
</div>

  <div class="column">
	<div class="ibcontainer">
  	<img src="Pictures/icon/Admin.jpg" alt="Admin" style="width:100%">
  	<button onclick="window.location.href='admin.html'" class="btn">Admin</button>
	</div>
</div>
</div>

<div class="row">
  <div class="column">
  <div class="ibcontainer">
    <img src="Pictures/icon/ITE.jpg"  alt="ITE" style="width:100%">
    <button onclick="window.location.href='ite.html'" class="btn">ITE</button>
  </div>
  </div>

  <div class="column">
  <div class="ibcontainer">
    <img src="Pictures/icon/Engineering.jpg" alt="Engineering" style="width:100%">
    <button onclick="window.location.href='engineering.html'" class="btn">Engineering</button>
  </div>
</div>

  <div class="column">
  <div class="ibcontainer">
    <img src="Pictures/icon/FineArts.jpg" alt="FineArts" style="width:100%">
    <button onclick="window.location.href='fine_arts.html'" class="btn">Fine Arts</button>
  </div>
</div>


  <div class="column">
  <div class="ibcontainer">
    <img src="Pictures/icon/PHAP.jpg" alt = "PHAP" style="width:100%">
    <button onclick="window.location.href='pahb.html'" class="btn">PAHB</button>
  
</div>
</div>

  <div class="column">
  <div class="ibcontainer">
    <img src="Pictures/icon/PUB.jpg" alt="PUB" style="width:100%">
    <button onclick="window.location.href='pub.html'" class="btn">Public Policy</button>
  </div>
</div>

  <div class="column">
  <div class="ibcontainer">
    <img src="Pictures/icon/Physics.jpg" alt="Physics" style="width:100%">
    <button onclick="window.location.href='physics.html'" class="btn">Physics</button>
  </div>
</div>
</div>

</div>