<!--------------------------- Top container  --------------------------------->
<div class="w3-bar w3-top w3-signal-black w3-large"   style="height:50px;z-index:4">
<span class="w3-bar-item w3-left"><img src="Pictures/paw2.png"  style="width:25px;height:25px;"></span>
<button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-grey" onclick="w3_open();"><i class="fa fa-bars"></i>Sidebar</button>
<button class="w3-bar-item w3-button" onclick="window.location.href='index.html'">Archived Data</button>
<button class="w3-bar-item w3-button" onclick="window.location.href='live.html'">Live Data</button>
<!--<button class="w3-bar-item w3-button" onclick="window.location.href='feedback.html'">Feedback</button>
<!--<button class="w3-bar-item w3-button" onclick="window.location.href='index.html'">??? Future Data (Coming Soon) ???</button>
-->
<span class="w3-bar-item w3-right">Retriever P.A.W. - Patrons Attached to Wifi</span>
</div>
<!--<button class="w3-bar-item w3-left w3-button" onclick="window.location.href='faq.html'">F.A.Q.</button>-->