<!--------------------------- Sidebar/menu  ---------------------------------->
<nav class="w3-sidebar w3-collapse w3-amber w3-animate-left" style="z-index:1 ;width:300px;  overflow: visible; " id="mySidebar"><br>
<div class="w3-container w3-row" >

<!--------------------------- Report Type -->
	
<h3> Report Type <div class="tooltip"></h3>

<form>
<input type="radio" name="reporting" value="1" id="count" checked="checked">Device Count<br>
<input type="radio" name="reporting" value="2" id="corr">Device Correlation<br>
<!--<input type="radio" name="reporting" value="3" id="Live">Live View<br>-->
<script>
document.getElementById("corr").addEventListener("change", function()
{
console.log("Corr button clicked");
});
</script>
</form>
<br>


<!--------------------------- Date Selector -->
<div class="w3-bar-block">
<h3> Date Selector <div class="tooltip"><i class="fa fa-info-circle "></i>
 <span class="tooltiptext"> <font size="4">
- Leave fields blank to default to today  OR <br>
- Choose the same date in both fields to select that day OR<br>
- Choose different dates to select a range
 
 </font></span></div></h3> 
 
<p>
<div>Start Date: &nbsp&nbsp 
<input type="date" id="startDate" ></div>
</p>

<p>
<div>End Date:  &nbsp&nbsp
 <input type="date" id="endDate" ></div>
</p>

<br>

<!---------------------------  Connection State -->
	
 <h3> Connection State <div class="tooltip"><i class="fa fa-info-circle "></i>
 <span class="tooltiptext"> <font size="4">
 - Connected Devices Only: Reports clients connencted to UMBC's Wifi Networks.<br>
 - Detected Devices Only: Reports clients probing check available UMBC WIFI networks but are not connencted to them.
</font></span></div></h3> 
 

<form>
<input type="radio" name="reporting" value="1" id="connected" checked="checked">Connected Devices Only<br>
<input type="radio" name="reporting" value="2" id="detected">Detected Devices Only<br>
<input type="radio" name="reporting" value="3" id="all">All Devices<br>
</form>

<br>
<br>
<!--processGenerateReportButton-->
<button class="button button5" id="overall" onclick="processGenerateReportButton();">Generate Report</button>

<br>
<hr>
<h2> F.A.Q. </h2>

<h5 font size="1"> Why isn't ____ working?  <div class="tooltip"><i class="fa fa-info-circle "></i>
 <span class="tooltiptext"> <font size="4">
 While most issues can be resolved by refreshing,<br>
 if outstanding problems persist, please contact us through the feedback page!
</font></span></div></h5> 

<h5 font size="1"> Why aren't counts consistent?  <div class="tooltip"><i class="fa fa-info-circle "></i>
 <span class="tooltiptext"> <font size="4">
 Each visualization might use different algorithms or different parameters
 to process device counts.<br>
 Some parameters that might affect device counts are:<br>
 time breakdown, geographic scope, device connection state and dwell time.
</font></span></div></h5> 

</nav>
<!-- Overlay effect when opening sidebar on small screens 
<div class="w3-overlay w3-hide-large w3-animate-opacity"  style="cursor:pointer" title="close side menu" id="myOverlay"></div>-->


